/* "Tide" theme */
/* TODO:
- Convert the other themes to CSS Variables
- Allow user to set default CSS theme in JS config
- Export the themes as identical JS objects
- For theme switcher, update root-level CSS properties via JS (https://medium.com/@_bengarrison/accessing-and-modifying-css-variables-with-javascript-2ccb735bbff0)
 */

:root {
    /* Interface UI Colors */
    --default-color: #7cb342;
    --hover-color: #558b2f;
    --active-color: #558b2f;
    --ui-border-color: #7cb342;
    --ui-border-color-dark: #33691e;
    --ui-border-color-active: #558b2f;
    --primary-background-color: #000000;
    --box-background-color: #689f38;

    /* Common palette */
    --ui-yellow: #E29E4A;
    --ui-sky-blue: #7cb342;
    /* State palette */
    --ui-state-error: #FFCCCC;
    --ui-state-error-border: #993333;
    --ui-state-error-text: #661111;
    --ui-gray-light: #7cb342;
    --ui-gray: #558b2f;
    --ui-gray-dark: #33691e;
    --ui-gray-darker: #151A1F;
    --ui-gray-darkest: #14202A;

    /* Text Colors */
    --text-primary-color: #ffffff;
    --text-secondary-color: #aed581;
    --input-background-color: #33691e;
    --input-placeholder-color: #d3d3d3;
    --large-numbers-color: #9ccc65;

    --text-color-active: #000000;
    --text-disabled-color: #878787;

    --input-placeholder-color--hover: #33691e;
    --input-placeholder-color: #d3d3d3;

    --table-hover-color: #558b2f;
    --table-text-primary-color: #ffffff;
    --table-text-secondary-color: #aed581;

    --state-error: #FFCCCC;
    --state-error-border: #FFCCCC;
    --state-error-text: #FFCCCC;
}
