.title1
    font-weight: bold;
    font-size: 22px;
    padding-left: 60px;

.footer1
    font-size: 16px;

App{
  margin: 10% 40%;
}
.read-more-link{
  color: white;
  text-decoration: underline;
  font-size: 10px;
  cursor: pointer;
}
.extra-content{
  color: white;
  font-weight: 500;
}
